<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">
        <a href="/horarios-villamascota">
        <button type="button" class="btn btn-info">Contáctenos</button>
        </a>
    </div>
    <div class="p-2 bd-highlight">
        <a href="/usuarios-villamascota/login">
        <button type="button" class="btn btn-warning">Mi cuenta</button>
        </a>
        </div>
</div>
<div class=" modeule">
    <nav class="navbar navbar-light bg-light">
        <a href="/inicio">
            <h1 class="text-hide" style="background-image: url('issues/inicio/gato.jpg');"></h1>
            <img src="issues/inicio/gato.jpg" alt="loguito" class="img-thumbnail">

        </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button type="button" class="btn btn-dark">Ver Carrito</button>

    </nav>
</div>
<!-- Default dropright button -->
<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropright
    </button>
    <div class="dropdown-menu">
        <!-- Dropdown menu links -->
    </div>
</div>

<!-- Split dropright button -->
<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary">
        Split dropright
    </button>
    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropright</span>
    </button>
    <div class="dropdown-menu">
        <!-- Dropdown menu links -->
    </div>
</div>
