<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<div class="d-flex flex-row-reverse bd-highlight" style="background-color: #FCBE09;">
    <div class="p-2 bd-highlight" style="background-color: #FCBE09;">
        <a href="/usuarios-villamascota/login">
        <button type="button" class="btn btn-light">Mi cuenta</button>
        </a>
        </div>
</div>

    <nav class="navbar navbar-light" style="background-color: #FCBE09;">
        <a href="/inicio">
            <h1 class="text-hide" ></h1>
            <img src="https://i.ibb.co/Lg7c7jf/villamascota.png" style="width: 300px; height: 55px" alt="villamascota" border="0"></a>
        </a>
        <form class="form-inline" action="/catalogo" name="registration"  method="POST">
            <input class="form-control mr-sm-2" style="width: 350px; height: 40px" name="busqueda" type="search" placeholder="Utilizame y encuentra lo que necesites" aria-label="Search">
            <button class="btn btn-dark" type="submit">Buscar</button>
        </form>
        <a href="/catalogo/verCarrito %>" class="btn btn-warning">
            <img src="https://cdn.onlinewebfonts.com/svg/img_79446.png" width="35" height="35" style="margin-right: 15px" class="d-inline-block align-top" alt="">
        </a>
    </nav>
<ul class="navbar navbar-light" style="background-color: #191919;margin-bottom:0px">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 20px;color: white">
            Comprar por mascota
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/catalogo/mascota/1" style=" font-weight: bold">
                <img src="https://image.flaticon.com/icons/svg/91/91536.svg" width="30" height="30" style="margin-right: 15px" class="d-inline-block align-top" alt="">
                Perros</a>
            <a class="dropdown-item" href="/catalogo/mascota/2" style=" font-weight: bold">
                <img src="https://image.flaticon.com/icons/svg/61/61624.svg" width="30" height="30" style="margin-right: 15px" class="d-inline-block align-top" alt="">Gatos</a>
            <a class="dropdown-item" href="/catalogo/mascota/3" style=" font-weight: bold">
                <img src="https://image.flaticon.com/icons/svg/47/47240.svg" width="30" height="30" style="margin-right: 15px" class="d-inline-block align-top" alt="">Roedores</a>
            <a class="dropdown-item" href="/catalogo/mascota/4" style=" font-weight: bold">
                <img src="https://image.flaticon.com/icons/svg/92/92009.svg" width="30" height="30" style="margin-right: 15px" class="d-inline-block align-top" alt="">Aves</a>
            <a class="dropdown-item" href="/catalogo/mascota/5" style=" font-weight: bold">
                <img src="https://image.flaticon.com/icons/svg/58/58272.svg" width="30" height="30" style="margin-right: 15px" class="d-inline-block align-top" alt="">Peces</a>
        </div>
</ul>

